body{background-color:cadetblue;
    font-family: arial;
   }

  .img{height: 400px;}
 
 h1{
     font-size: 18px;
 }
 h2{
     font-size: 16px;
 }
 
 p{
     font-size: 14px;
 }
 a{
     color:navy;
     text-decoration: underline;
 }
 a:hover{
     color:navy;
     text-decoration: none;
 }