body{
    font-family: Roboto, sans-serif;}
h1{text-align: center;
   ;}
h3{color:blueviolet;
font-weight: bold;}
.shopping{height: 250px;}
p{word-spacing: 300px;
font-style:italic;
font-size: 16px;}

p1{font-size: 14px;
color: midnightblue;}