h1{text-align: center;
    font-weight: bold;}
h2{text-indent: 20px;
}
h3{color: green;}
.shopping2{height:250px}
p{word-spacing: 300px;
font-style:italic ;
font-size: 16px;
}
p1{font-size: 14px;
color: darkslategrey;}